@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@700&family=Noto+Sans+KR:wght@300;350;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.en {
    font-family: 'Charis SIL', serif;
}
body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
.inner {
    width: fit-content;
    margin:0 auto;
}
/* 폰트사이즈 */
h1 {
    font-weight: 700;
    font-size: 40px;
    color: #222;
    line-height: 51px;
    font-family: 'Charis SIL', serif;
}
h2 {
    font-weight: 300;
    font-size: 19px;
    color: #222;
}
h3 {
    font-weight: 300;
    font-size: 16px;
    color: #222;
}
h4 {
    font-weight: 500;
    font-size: 20px;
    color: #222;
}
h5 {
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
}

/* 헤더 */
header {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    /* border: 1px solid slateblue; */
}
header ul {
    width: 1215px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 65px;
}

header ul li a {
    color: #222;
    font-size: 15px;
    font-weight: 500;
}
.gnb {
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.logo h1 {
    width: 300px;
    height: 100px;
    background: url('images/logo.jpg')no-repeat center;
    /* align-items: center;  */
    text-indent: -9999px; 
    background-size: contain;
}
.bg1 {
    background: url('images/header\ bg.jpg')no-repeat center;
    width: 100%;
    height: 749px;
    background-size: cover;
}

/* ///////////////////// */
/* section1 */


.section1 {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 290px;
    margin-top: 290px;
    /* margin: 290px 0 했을때 inner 풀림  왜이럼?????*/
}
.section1 h1 {
    padding-bottom: 35px;
}
.section1 h2 {
    margin-bottom: 10px;
}
.section1 h3 {
    width: 389px;
    height: 130px;
    /* border: 1px solid salmon; */
    padding-top: 35px;
}
.section1 h3 span {
    font-weight: 400;
}
.line {
    border-top: 1px solid #222;
    width: 39px;
    position: absolute;
}
.sec1img {
    background: url('images/visual_01.jpg')no-repeat center;
    width: 721px;
    height: 363px;
    background-size: contain;
}
.sec1left {
    margin-right: 90px;
}


/* section2 */
.section2 h1 {
    text-align: center;
    margin-bottom: 95px;
}
.section2 h1::after {
    content: '';
    display: block;
    border-top: 1px solid #222;
    width: 210px;
    margin: 0 auto;
    margin-top: 13px;
}
/* .section2 span {
    position: absolute;
    margin: 0 auto;
} */
.section2 ul{
    display: flex;
    margin-bottom: 250px;
}
.section2 ul li {
    margin-right: 30px;
}
.section2 ul h3 {
    width: 370px;
}
.thbg1 {
    background: url('images/day.jpg')no-repeat center;
    width: 380px;
    height: 260px;
    background-size: cover;
    margin-bottom: 35px;
}
.thbg2 {
    background: url('images/night.jpg')no-repeat center;
    width: 380px;
    height: 260px;
    background-size: cover;
    margin-bottom: 35px;
}
.thbg3 {
    background: url('images/sunset.jpg')no-repeat center;
    width: 380px;
    height: 260px;
    background-size: cover;
    margin-bottom: 35px;
}
/* 섹션3 */
.section3 h1,.section3 p {
    color: #fff;
}
.sec3img {
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 726px;
    position: absolute;
    z-index: 1; 
} 
.sec3bg {
    width: 100%;
    height: 726px;
    background: url('images/brand\ story.jpg')no-repeat center;
    position: relative;
    background-size: cover;
    display: block;
}
.brand {
    position: relative;
    z-index: 5;
}
.brand h1 {
    text-align: center;
    margin-bottom: 95px;
    padding-top: 80px;
}
.brand ul {
    width: fit-content;
    margin: 0 auto;
    /* 이상혀 */
}
.brand ul li {
    display: flex;
    align-items: center;
    margin-bottom: 85px;
}
.brand ul li p {
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    /* justify-content: center; */
    align-items: center;
}

.brand ul li h5 {
    width: 250px;
    border-right: 1px solid #fff;
    margin-right: 10px;
}

/* 섹션4 */
.section4 {
    margin-top: 250px;
    margin-bottom: 250px;
}
.section4 h1 {
    text-align: center;
    margin-bottom: 95px;
}
.section4 h1::after {
    content: '';
    display: block;
    border-top: 1px solid #222;
    width: 210px;
    margin: 0 auto;
    margin-top: 13px;
}
.section4 ul {
    display: flex;
    /* align-items: center; */
}
.img1 {
    width: 385px;
    height: 473px;
    background: url('images/coffee.png')no-repeat center;
    background-size: cover;
}
.img2 {
    width: 385px;
    height: 473px;
    background: url('images/pasta.png')no-repeat center;
    background-size: cover;
}
.img3 {
    width: 385px;
    height: 473px;
    background: url('images/pizza.png')no-repeat center;
    background-size: cover;
}
.box1 {
    width: 385px;
    height: 203px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
}
.section4 ul li h4 {
    padding: 29px 0 13px 23px;
}
.section4 ul li h3 {
    width: 336px;
    height: 78px;
    padding-left:23px ;
}
.section4 ul li:nth-child(2) {
    padding:0 22px;
}
.plus {
    display: flex;
    align-items: center;
    margin-left: 280px;
}
.plus p {
    margin-right: 8px;
    font-weight: 350;
    font-size: 12px;
    color: #222;
}
.section4 span {
    border-top:1px solid #d9d9d9 ;
    border-right:1px solid #d9d9d9 ;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
}
/* 섹션5 */
.section5 {
    width: 1215px;
    margin-bottom: 250px;
}
.map {
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.map-desc {
    margin-top: 100px;
}
.map-desc h2 {
    font-size: 30px;
    margin: 45px 0;
}
.map-desc h4{
    font-weight: 300;
    font-size: 18px;
}
b {
    font-weight: 400;
}
/* 푸터 */
.footbox {
    background-color: #4A4A4A;
    width: 100%;
    height: 204px;
}
.footbox p {
    color: #fff;
    font-weight: 300;
    font-size: 19px;
    color: #FFFFFF;
    /* align-items: left; */
    margin-left: 360px;
}
.footbox p:first-child {
    padding-top: 55px;    
}
.footbox p:last-child {
    padding-top: 30px;
    margin-bottom: 37px;
}



