/* 타블렛 */
@media screen and (max-width:1160px) {
    h1 {
        font-size: 35px;
        text-shadow: -4px 4px #000;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: clamp(1.75rem, 0.9909rem + 1.2195vw, 1.875rem);
        /* 30~28 */
    }
    h4 {
        font-size: 14px;
    }
    h5,p {
        font-size: 13px;
    }
    /*   헤더   */
    .pc-btn {
        display: none;
    }
    .m-burger {
        display: block;
        width: 22.6px;
        margin-right: 22px;
        background-color: transparent;     
    }
    .m-burger span {
        width: 24px;
        height: 2px;
        display: block;
        margin-bottom: 7px;
        background-color: var(--orange);
    }
    .headercontainer {
        padding: 15px;
    }
    .logo p {
        font-size: 22px;
    }
    .gnb {
        width: 31.833vw;
        padding: 120px 0px 0px 30px;
    }
    .gnb li a {
        font-size: 20px;
    }
    .close-btn {
        display: none;
    }
    .m-close {
        display: block;
        width: 24px;
        display: inline-block;  
        background: none;   
        padding-right: 0;   
        position: absolute;
        top: 15px;
    }
    .m-close img {
        width: 100%;
    }
    .insap p{
        font-size: 120px;
    }
    .insa h2 {
        font-size: 15px;
    }
    .inner {
        width: 89.959vw;
    }
    /*   about me   */
    .about_ul {
        width: 100%;
    }
    .about_ul img {
        width: 14vw;
        margin: 0 auto;
    }
    .skill_in p {
        font-size: 11px;
    }
    .skill_in li {
        margin-bottom: 25px;
    }
    /*   portfolio    */
    .port {
        border-radius: 23px;
    }
    .port_btn {
        font-size: 14px;
        padding: 11px 16px;
        border-radius: 8px;
    }
    .m-portimg {
        display: none;
    }
    .port_desc {
        padding: 45px 27px;
    }
    /* footer */
    .name {
        font-size: clamp(6.25rem, 0.5564rem + 9.1463vw, 7.1875rem);
        /* 115~100 */
        text-shadow: -11px 9px 0px #151515;
    }
    .thank {
        font-size: clamp(1.875rem, 0.3567rem + 2.439vw, 2.125rem);
        /* 35~30 */
    }
}
@media screen and (max-width:996px) {
    /* 폰트 */
    h1 {
        font-size: clamp(1.375rem, 0.8844rem + 2.0934vw, 2.1875rem);
        /* 35~22 */
        text-shadow: -4px 4px 0px #151515;
        font-weight: normal;
    }
    h2 {
        font-size: 18px;
    }
    .about_ul li p {
        font-size: 13px;
    }
    h3 {
        font-size: clamp(1.25rem, 0.8726rem + 1.6103vw, 1.875rem);
        /* 30~20 */
    }
    h4 {
        font-size: clamp(1.0625rem, 1.1757rem + -0.4831vw, 0.875rem);
        /* 14~17 */
    }
    h5 {
        font-size: clamp(0.875rem, 0.9505rem + -0.3221vw, 0.75rem);
        /* 12~14 */
    }
    /* 헤더 */

    .pc-btn {
        display: none;
    }
    .gnb {
        width: 30.120vw;
        padding: 110px 0 0 30px;
    }
    .gnb ul li a{
        font-size: 18px;
    }
    .m-close {
        width: 20px;
    }
    /* 인사 */
    .insap {
        font-size: clamp(2.1875rem, 1.0553rem + 4.8309vw, 4.0625rem);
        /* 65~35 */
    }
    .insa h2 {
        font-size: clamp(0.75rem, 0.6368rem + 0.4831vw, 0.9375rem);
        /* 15~12 */
    }
    .insap p {
        font-size: clamp(3.75rem, 1.4205rem + 4.5455vw, 4.25rem);
        /* 68~60 */
    }
    .insa img {
        width: calc(100vw * 290 / 996);
    }
    .insa {
        padding-top: 60px;
        height: 80vh;
    }
    /* about me*/
    .skill_in li p {
        font-size: 10px;
    }
    .skill_in li {
        padding: 0 5px;
        margin-bottom: 14px;
    }
    /* portfolio */
    .port_desc {
        padding: 45px 27px 47px 27px;
    }
    .port {
        border-radius: 23px;
    }
    .port_btn {
        font-size: 12px;
        padding: 8px 10px;
        border-radius: 5px;
        box-shadow: -3px 3px 0 #151515;
    }
    .m-portimg {
        display: none;
    }
    /* footer */
    .name {
        text-shadow: -11px 9px 0px #151515;
        font-size: clamp(3.625rem, 2.0399rem + 6.7633vw, 6.25rem);
        /* 100~58 */
    }
    .contact img {
        width: 30px;
        height: 30px;
    }
    .contact p {
        font-size: clamp(0.9375rem, 0.5978rem + 1.4493vw, 1.5rem);
    }
    /* 24~15 */
    .footer {
        margin-top: 64.125vw;
    }
}
/* mobile */
@media screen and (max-width:768px) {
    h1 {
        text-shadow: -3px 2px 0px #151515;
    }
    .gnb {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 4vw;
        text-align: center;
    }
    .close-btn {
        display: none;
    }
    .m-close {
        width: 24px;
        display: block;
        display: inline-block;  
        background: none;   
        padding-right: 0;   
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .m-close img {
        width: 100%;
    }
    .gnb ul {
        position: relative;
        top: 50px;
    }

    
    /* ------insa------- */
    .insath {
        flex-direction: column;
        justify-content: center;
    }

    .insath img {
        order: 1;
        margin-bottom: 23px;
        width: calc(100vw * 178 / 375);
        min-width: initial; 
        /* 속성값 초기화 */
    }

    .insap {
        order: 2;
        text-align: center;
    }

    .insap p {
        font-size: clamp(2.1875rem, 0.942rem + 5.314vw, 4.25rem);
        text-shadow: -3px 3px 0px #151515;
        margin-bottom: 23px;
    }
    .insap h2 {
        font-size: 12px;
    }
    section {
        margin-bottom: 0px;
    }
    .about_ul {
        flex-wrap: wrap;
    }
    .about_me h1 {
        margin: 150px 0 55px 0;
    }
    .about_ul li h2 {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .about_ul img {
        width: 43.925vw;
    }
    .maginbttm {
        margin-bottom: 145px;
    }
    .maginbttm2 {        
        margin-bottom: 172px;
    }
    .skill_in li p {
        font-size: 12px;
    }
    .skill_in ul {
        width: 90%;
        margin: 0px 17px;
    }
    .skill_in li {
        padding: 0px 9px;
        margin-bottom: 25px;
    }
    /* portfolio */
    .port_desc img{
        /* display: block; */
        display: inline;
        order: 2;
    }
    .port_desc {
        width: 100%;
        padding: 26px 21px 50px 21px;
        display: block;
        justify-content: none;
    }
    .m-portimg {
        width: 72.663vw;
        margin-bottom: 9.345vw;
    }
    .port_desc_th h3{
        order: 1;
    }
    .port_desc_th h4{
        order: 3;
    }
    img.port_img {
        display: none;
    }
    .port_btn {
        margin: 0;
        position: absolute;
        left: 77%;
        top: 93%;
    }

    /* footer */
    .name {
        text-shadow: -7px 7px 0px #151515;
    }
    .footer {
        margin-top: 355px;
    }
}
