@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Noto Serif KR', serif;
    overflow-x: hidden;
}

:root {
    /* 색 */
    --dark:#3F6F76;
    --light: #487D84;
    --gray: #767C7D;
    --white:#fff
}
.inner {
    width: 90vw;
    margin: 0 auto;
    /* border: 1px solid pink; */
}
h1 {
    font-size: clamp(2.8125rem, 2.4756rem + 0.5411vw, 3.125rem);
    font-weight: 400;
}
header h1 {
    font-size: 50px;
}
header a{
    color: #fff;
}
nav li a {
    font-size: clamp(1.0625rem, 0.8604rem + 0.3247vw, 1.25rem); /*17~20*/
}
h2,h3,h4 {
    color: var(--light);
}
h2 {
    font-size: clamp(2.25rem, 1.9805rem + 0.4329vw, 2.5rem);
/* 36~40 */
    width: fit-content;
    border-bottom: 3px solid var(--light);
    padding-bottom: 21px;
    font-weight: 600;
}
h2 span:last-child {
    font-weight: 300;
}
.titlecontainer {
    width: 60%;
    border-bottom: 1px solid var(--dark);
    margin-bottom: 12px;
}
h3 {
    font-size: 35px;
}
h4 {
    font-size: 30px;
}
h5 {
    font-size: 23px;
    color: var(--light);
}
p {
    font-size: 20px;
}
section {
    margin-bottom: 300px;
}
.row {
    display: flex;
}
footer {
    font-size: 15px;
    color: var(--gray);
}
footer a {
    font-size: 18px;
    color: var(--gray);
}
button {
    bottom: none;
    background: none;
    font-family: inherit;
    font-weight: 500;
}
button.reserve_main {
    font-size: clamp(0.9375rem, 0.6006rem + 0.5411vw, 1.25rem);
/* 15~20 */
    border: 2px solid #fff;
    color: #fff;
    padding: 18px 4.21vw;
}
button.reserve_normal {
    font-size: clamp(0.8125rem, 0.3409rem + 0.7576vw, 1.25rem);
    color: var(--light);
    border: 1px solid var(--light);
    padding: 8px 1.97vw;
}
